* {
    /*border: solid 1px red;*/
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    border-top: solid 1px #000;
}

/*
---Toolbar---
 */

.toolbar {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #222;
    border-bottom: solid 2px #000;
    top: -1px;
}

.toolbar__changeChannel, .toolbar__statusIcon, .toolbar__changeChannelButton, .toolbar__changeChannelInput {
    display: inline-block;
}

.toolbar__changeChannel {
    float: right;
    margin: 15px 0;
}

.toolbar__changeChannelButton {
    color: #AAA;
    margin-right: 20px;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.toolbar__changeChannelInput {
    width: 400px;
    margin-right: 30px;
    background-color: #333;
    color: #999999;
    border: solid 2px #000;
}

.toolbar__statusIcon {
    color: #AAA;
    margin: 15px;
}

/*
---ChannelData---
 */

.channelData {
    margin: 50px 0 0 0;
    border-top: solid 1px #000;
}

.channelData__logo {
    height: 150px;
    width: 150px;
    margin: 0 10px;
}

.channelData__text {
    vertical-align: top;
}

.channelData__statistics {
    width: 350px;
    font-size: 25px;
    color: #CCC;
    margin: 5px 0 0 3px;
}

.channelData__title {
    color: #CCC;
}

.channelData__description {
    color: #999;
    font-size: 20px;
}

/*
---Content---
 */

.content__list {
    border: solid 2px #000;
    background-color: #222;
    height: 750px;
    width: 500px;
    vertical-align: top;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 10px;
}

.content__cell {
    vertical-align: top;
}

.listItem {
    height: 100px;
    width: 500px;
    background-color: #111;
    padding: 5px;
    cursor: pointer;
}

.listItem:hover {
    background-color: #333;
}

.listItem__logo {
    height: 100px;
    width: 150px;
    display: inline-block;
}

.listItem__video {
    display: inline-block;
}

.listItem__text {
    display: inline-block;
    width: 300px;
    height: 95px;
    margin-left: 10px;
    vertical-align: top;
    overflow: hidden;
}

.listItem__title {
    color: #CCC;
}

.listItem__description {
    color: #999;
}

/*
---Video---
 */

.video {
    vertical-align: top;
    padding: 0 20px;
}

.video__title {
    font-size: 40px;
    color: #CCC;
}

.video__description {
    font-size: 25px;
    color: #999;
}

.video_statistics {
    font-size: 30px;
    margin: 0 30px 0 0;
    color: #CCC;
}